doctype html
html(lang="en")
head
  title &iexcl;El Voto!
  meta(name="description" content="A simple voting application")
  link(id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="/bootstrapFix.css")
  link(rel="stylesheet" href="/navBar.css")
  link(rel="stylesheet" href="/shortcuts.css")
  link(rel="stylesheet" href="/universalCSS.css")
  link(href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  link(href="https://code.jquery.com/ui/1.12.1/themes/overcast/jquery-ui.css" rel="stylesheet")
  block stylesheets
  
body.background1
  div#nav
    div.row
      div#logo.col-xs-12.col-sm-7.col-md-9.autoFont
        p 
          a(href='/') &iexcl;El Voto!
      div#create.col-xs-6.col-sm-3.col-md-2.autoFont.button
        p 
          a(href='/createPoll') Create Poll
      div#signUp.col-xs-6.col-sm-2.col-md-1.button
        p 
          a(href='/signIn') Sign In

  block content
  block footer
  
  script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
  script(src="/pageEvents.js")
