main .row{

    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 4px black;
    width: 90%;
    margin-left: 5% !important;
    height: 90%;
    margin-top: 5% !important;
  }

.header, .question, .option, .button{

  text-align: center !important;
}

.question input, .option input{

  width: 95%;
  left: 2.5%;
  border-radius: 8px;
  border: 2px solid black;
  background-color: transparent;
  padding-left: 10px;
  box-shadow: 0px 0px 4px black;
}

.button p{
  
  padding: 2px 5px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 4px black;
}

@media(min-width: 768px){
  
  main .row{

    width: 40%;
    margin-left: 30% !important;
    height: 70%;
    margin-top: 5% !important;
  }
  
  .button{
  
    margin-top: 10px;
  }
}