main .row{

    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 4px black;
    width: 90%;
    margin-left: 5% !important;
    height: 80%;
    margin-top: 10% !important;
}

.header, .button{

  text-align: center !important;
}

.button p{
  
  padding: 2px 5px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 4px black;
}

@media(min-width: 768px){
  
  main .row{

    width: 40%;
    margin-left: 30% !important;
    height: 70%;
    margin-top: 5% !important;
  }
}